table.left-header th {
    border-right: 0.1rem solid lightgray;
}

.collapsible {
  background-color: #dfdfdf;
  cursor: pointer;
  width: 100%;
}

button.active.collapsible  {
  background-color: #afafaf;
  box-shadow: inset 0 0 0 2px #8f8f8f;
}